*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    background-color: #FFE9D6;
    
}

.intro-section{
    margin: 0 auto;
    width: 70%;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.navbar li{
    margin-right: 15px;
}